<div class="container">
  <div class="list">
    <div class="mask"></div>
    <table mat-table [dataSource]="dataSource">
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <div class="table-item">
            <p class="title">{{i+1}}</p>
          </div>
        </td>
      </ng-container>

      <!-- Track Column -->
      <ng-container matColumnDef="tracks">
        <th mat-header-cell *matHeaderCellDef> Track </th>
        <td mat-cell *matCellDef="let element">
          <div class="table-item">
            <p class="track">{{element.name}}</p>
            <p class="artist">{{element.artists[0]?.name}} </p>
          </div>
        </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="duration_ms">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element">
          <div class="table-item">
            <p class="title">{{element.duration_ms | time}}</p>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['index', 'tracks', 'duration_ms']; sticky: true;"></tr>
      <tr class="table-track" mat-row *matRowDef="let row; columns: ['index', 'tracks', 'duration_ms']; let i = index"
        (click)="select(row)" [class.active]="selection.isSelected(row)">
      </tr>
    </table>
    <mat-paginator></mat-paginator>
  </div>
  <div class="sidenav">
    <mat-card class="player">
      <app-player-controller (next)="selectData('next')" (prev)="selectData('prev')"></app-player-controller>
    </mat-card>
    <mat-card class="filter">
      <app-filter></app-filter>
    </mat-card>
  </div>
</div>