<mat-toolbar class="mat-elevation-z2">
  <span class="navigation">
    <span class="account">
      <button mat-button [matMenuTriggerFor]="menu">
        <div class="account-avatar">
          <div class="avatar-image" [style.background-image]="'url('+(user | async).images[0].url+')'"></div>
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>
          <mat-icon>highlight_off</mat-icon>
          <a class="title" routerLinkActive="active">Logout</a>
        </button>
      </mat-menu>
    </span>
    <a mat-button routerLink="/player" routerLinkActive="active">Player</a>
    <a mat-button routerLink="/visualizer" routerLinkActive="active">Visualizer</a>
  </span>
  <img class="logo" src="assets/logo/klangspektrumLogo.svg" />
</mat-toolbar>