@import "../../../../styles/variables";
@import "../../../../styles/font";
@import "../../../../styles/grid";

.slider {
  margin-bottom: 20px;
}

.slider-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: -18px;
}

.yellow {
  color: $yellow;
}

.cyan {
  color: $cyan;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}