<section role="list" class="list">
  <div class="slider">
    <div class="slider-title">
      <p class="yellow">Acousticness</p>
      <p class="yellow">{{accousticness.range | range}}</p>
    </div>
    <app-slider #accousticness></app-slider>
  </div>

  <div class="slider">
    <div class="slider-title">
      <p class="cyan">Speechiness</p>
      <p class="cyan">{{speechiness.range | range}}</p>
    </div>
    <app-slider #speechiness></app-slider>
  </div>

  <div class="slider">
    <div class="slider-title">
      <p class="blue">Liveness</p>
      <p class="blue">{{liveness.range | range}}</p>
    </div>
    <app-slider #liveness></app-slider>
  </div>

  <div class="slider">
    <div class="slider-title">
      <p class="red">Danceability</p>
      <p class="red">{{danceability.range | range}}</p>
    </div>
    <app-slider #danceability></app-slider>
  </div>

  <div class="slider">
    <div class="slider-title">
      <p class="orange">Instrumentalness</p>
      <p class="orange">{{instrumentalness.range | range}}</p>
    </div>
    <app-slider #instrumentalness></app-slider>
  </div>

  <div class="slider">
    <div class="slider-title">
      <p class="green">Mood</p>
      <p class="green">{{mood.range | range}}</p>
    </div>
    <app-slider #mood></app-slider>
  </div>

  <div class="slider">
    <div class="slider-title">
      <p class="purple">Energy</p>
      <p class="purple">{{energy.range | range}}</p>
    </div>
    <app-slider #energy></app-slider>
  </div>

</section>