@import "../../../../styles/variables";
@import "../../../../styles/font";
@import "../../../../styles/mixins/breakpoints";

@mixin slider-color($color) {

  .title-categorie,
  .title-value {
    color: $color;
  }

  .noUi-connect {
    background: $color;
  }

  .noUi-horizontal .noUi-handle {
    background: $color;
  }
}

::ng-deep .slider {
  margin-bottom: 20px;

  .slider-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: -24px;
  }

  @include slider-color($dark-gray);

  &--yellow {
    @include slider-color($yellow);
  }

  &--cyan {
    @include slider-color($cyan);
  }

  &--blue {
    @include slider-color($blue);
  }

  &--red {
    @include slider-color($red);
  }

  &--orange {
    @include slider-color($orange);
  }

  &--green {
    @include slider-color($green);
  }

  &--purple {
    @include slider-color($purple);
  }
}

.reset-btn {
  margin-top: 20px;
  margin-left: calc(100% - 97px);
  color: $gray;
}

/**************************/
/*** STYLING NOUISLIDER ***/
/**************************/
nouislider {
  width: 100%;
}

::ng-deep .noUi-base {
  border: 7px solid transparent;
}

::ng-deep .noUi-target {
  height: 2px;
  border: none;
  box-shadow: none;
  background: none;
}

::ng-deep .noUi-connects {
  height: 2px;
  background: $gray;
  border-radius: 0;
}

// ::ng-deep .noUi-connect {
//   background -> for each categorie
// }

// Hanlde
::ng-deep .noUi-handle:after {
  display: none;
}

::ng-deep .noUi-handle:before {
  display: none;
}

::ng-deep .noUi-horizontal .noUi-handle {
  // background -> for each categorie
  box-shadow: none;
  border: none;
  left: 0;
  right: -7px !important;
  top: -6px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  cursor: pointer;
  transform: scale(1);
  transition: all 150ms ease-out;

  &:active {
    outline: 0;
    transform: scale(1.3);
  }

  &:hover {
    outline: 0;
    transform: scale(1.3);
  }

  &:focus {
    outline: 0;
    transform: scale(1.3);

  }
}