<section role="list" class="list">
  <form [formGroup]="filterForm">
    <div class="slider">
      <div class="slider-title">
        <p class="yellow">Acousticness</p>
        <p class="yellow">{{filterForm.get('acousticness').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.acousticness"></nouislider>
    </div>

    <div class="slider">
      <div class="slider-title">
        <p class="red">Danceability</p>
        <p class="red">{{filterForm.get('danceability').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.danceability"></nouislider>
    </div>

    <div class="slider">
      <div class="slider-title">
        <p class="purple">Energy</p>
        <p class="purple">{{filterForm.get('energy').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.energy"></nouislider>
    </div>

    <div class="slider">
      <div class="slider-title">
        <p class="orange">Instrumentalness</p>
        <p class="orange">{{filterForm.get('instrumentalness').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.instrumentalness"></nouislider>
    </div>

    <div class="slider">
      <div class="slider-title">
        <p class="blue">Liveness</p>
        <p class="blue">{{filterForm.get('liveness').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.liveness"></nouislider>
    </div>

    <div class="slider">
      <div class="slider-title">
        <p class="cyan">Speechiness</p>
        <p class="cyan">{{filterForm.get('speechiness').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.speechiness"></nouislider>
    </div>

    <div class="slider">
      <div class="slider-title">
        <p class="green">Valence</p>
        <p class="green">{{filterForm.get('valence').value | range}}</p>
      </div>
      <nouislider [connect]="true" [min]="0" [max]="1" [step]="0.0000001" [formControl]="filterForm.controls.valence"></nouislider>
    </div>
  </form>
  <button class="reset-btn" (click)="resetFilter()" mat-button>Reset filter</button>
</section>