<ng-container *ngIf="(track$ | async) as track">
  <app-track class="track-info" [track]="track"></app-track>
</ng-container>

<div class="nav">
  <button [disabled]="!(track$ | async)" (click)="onShuffle()" mat-button>
    <mat-icon class="nav-icon">shuffle</mat-icon>
    <div *ngIf="(shuffle$ | async)" class="dot"></div>
  </button>

  <button [disabled]="!(track$ | async)" (click)="onPrev()" mat-button>
    <mat-icon class="nav-icon">skip_previous</mat-icon>
  </button>

  <button [disabled]="!(track$ | async)" (click)="toggle()" mat-button>
    <mat-icon *ngIf="(isPlaying$ | async)" class="nav-icon">pause</mat-icon>
    <mat-icon *ngIf="!(isPlaying$ | async)" class="nav-icon">play_arrow</mat-icon>
  </button>

  <button [disabled]="!(track$ | async)" (click)="onNext()" mat-button>
    <mat-icon class="nav-icon">skip_next</mat-icon>
  </button>

  <button [disabled]="!(track$ | async)" (click)="repeat()" mat-button>
    <mat-icon class="nav-icon">repeat</mat-icon>
    <div *ngIf="(playerService.getRepeatState() | async)" class="dot"></div>
  </button>
</div>
