@import "../../../../styles/variables";
@import "../../../../styles/font";
@import "../../../../styles/grid";

:host {
  display: block;
  height: 100%;
  width: 100%;
  background: $dark-gray;
  color: white;
}

.container {
  @include for-size(phone-only) {
    padding: 64px 16px 64px 16px;
    margin: 0;
    min-height: calc(100vh - 56px - 128px);
  }

  @include for-size(tablet-portrait-up) {
    padding: 96px 24px 96px 24px;
    min-height: calc(100vh - 64px - 192px);
    margin: 0 auto;
    max-width: 650px;
  }

  @include for-size(tablet-landscape-up) {
    padding: 120px 0 60px 0px;
    min-height: calc(100vh - 64px - 180px);
    margin: 0 auto;
    max-width: 720px;
  }

  @include for-size(desktop-up) {
    padding: 120px 0 60px 240px;
    min-height: calc(100vh - 64px - 180px);
    margin: 0;
    max-width: 100%;
  }
}

p {
  max-width: 720px;
  margin: 0 0 60px 0;
}

a {
  color: $white;

  &:active {
    color: $white;
  }
}