@import "../../../../styles/variables";
@import "../../../../styles/mixins/container";

.container {
  @include containerLeft();
}

.abstract {
  margin: 0 0 60px 0;
}

.link {
  color: $white;

  &:active {
    color: $white;
  }
}

.contact {
  margin: 0;
}