<section class="container">
  <p class="white">We are living in an increaslingly digitised world but most of us barely have any background
    knowledge about digital
    processes. Due to the digital age streaming services gradually evolve. Music streaming services like Spotify
    massively
    changed the music industry and the musical behaviour of their users. Current studies show that the individual
    musical
    behaviour turns away more and more from criteria such as genre or artists. The once established criteria seem to
    get
    replaced by intelligent algorithms that work in the background.
    <br><br>
    Spotify is for most of its users what you call a "black box", which means that people without any expert knowledge
    are
    not able to understand what kind of processes are going on in the technical background of the application. This
    interactive data visualisation was created to make Spotify more transparent for its users.
    <br><br>
    Klangspektrum enables Spotify users to analyse their musical behaviour based on simplyfied algorithmically
    calculated
    song attributes. The user should be able to establish a relation between already familiar parameters such as songs
    and
    genres and the abstract song values. Metaphorically speaking the observer transforms into an algorithm to analyse
    his /her own music profile.</p>
  <a class="" href="http://michaelschwarz.digital/" target="_blank">www.michaelschwarz.digital</a>
</section>