@import "../../../../styles/variables";
@import "../../../../styles/font";
@import "../../../../styles/grid";

::ng-deep body {
  background: $dark-gray;
}

mat-toolbar {
  position: relative;
  z-index: 4;
  background: $dark-gray;
  color: white;

  @include for-size(phone-only) {
    padding: 0;
  }
}

a {
  color: $gray;

  &.active {
    color: $white;
  }
}