$black: #000000;
$dark-gray: #616161;
$gray: #B1B1B1;
$light-gray: #EEEEEE;
$white: #F5F5F5;
$beta-version: #FDD835;
$error: #f44336;

// Track-Properties
$cyan: #26A69A;
$yellow: #F9B127;
$blue: #2884C7;
$red: #E82C4F;
$orange: #EB6617;
$green: #66BB6A;
$purple: #62509C;