<section class="container">
  <img class="logo" src="assets/logo/klangspektrumLogoNegativ.svg" />
  <p class="text white">
    The digital age has long arrived in the music industry and brought a lot of change for listeners as well as
    artists.
    Current studies show that the individual musical behaviour increaslingly turns away from criteria such as genre or
    artists. The once established criteria seem to get replaced by intelligent algorithms that work in the background.
    In
    the following application you can gain insights into these background processes.
    <br><br>
    <strong class="text-beta">Klangspektrum is currently available in a beta version. Therefore only Chrome, Firefox
      and
      Edge on Mac/Windows/Linux are supported.</strong>
  </p>
  <button mat-raised-button (click)="login()">Log in and try it out</button>
</section>