<section class="container">
  <img src="assets/logo/klangspektrumLogoNegativ.svg" />
  <p class="white">
    The digital age has long arrived in the music industry and brought a lot of change for listeners as well as
    artists.
    Current studies show that the individual musical behaviour increaslingly turns away from criteria such as genre or
    artists. The once established criteria seem to get replaced by intelligent algorithms that work in the background.
    In
    the following application you can gain insights into these background processes.
    <br><br>
    <strong class="beta">Klangspektrum is currently in the beta phase. Therefore it only supports Chrome, Firefox and
      Edge on
      Mac/Windows/Linux.</strong>
  </p>
  <button mat-raised-button (click)="login()">Get started</button>
</section>