<div class="container">
  <div class="chart">
    <h2>Danceability</h2>
    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [legend]="false">
    </canvas>
  </div>

  <div class="chart">
    <h2>Accousticness</h2>
    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [legend]="false">
    </canvas>
  </div>

  <div class="chart">
    <h2>Liveness</h2>
    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [legend]="false">
    </canvas>
  </div>
</div>
