@import '../../../../styles/mixins/container';
@import '../../../../styles/variables';
@import '../../../../styles/mixins/breakpoints';

::ng-deep body {
  background: $light-gray;
}

.container {
  @include containerLeft();
}

.intro,
.chart-info {
  margin-top: 0;
}

.section {
  width: 100%;
  margin-bottom: 50px;

  @include for-size(phone-only) {
    margin-bottom: 30px;
  }

  @include for-size(desktop-up) {
    margin-bottom: 70px;
  }
}