@import '../../../../styles/mixins/container';
@import '../../../../styles/variables';
@import '../../../../styles/mixins/breakpoints';

::ng-deep body {
  background: $light-gray;
}

.container {
  @include containerLeft();
}

.chart {
  width: 100%;
  margin-bottom: 60px;

  @include for-size(phone-only) {
    margin-bottom: 30px;
  }
}

.info {
  margin-top: 0;
}