<section role="list" class="list">
  <div class="item item--center">
    <div class="col-3">
      <h4>Scale:</h4>
    </div>
    <div class="col-7">
      <mat-slider thumbLabel tickInterval="1" min="1" max="100"></mat-slider>
    </div>
  </div>
<div class="item item--center">
  <div class="col-3">
    <h4>Interval:</h4>
  </div>
  <div class="col-7">
    <mat-slider thumbLabel tickInterval="1" min="1" max="100"></mat-slider>
  </div>
</div>
  <div class="item item--center">
    <div class="col-3">
      <h4>Steps:</h4>
    </div>
    <div class="col-7">
      <mat-slider thumbLabel tickInterval="1" min="1" max="100"></mat-slider>
    </div>
  </div>
  <div class="item item--options">
    <div class="col-3">
      <h4>Filter:</h4>
    </div>
    <div class="options col-7">
      <mat-checkbox>Speechiness</mat-checkbox>
      <mat-checkbox>Acousticness</mat-checkbox>
      <mat-checkbox>Liveness</mat-checkbox>
      <mat-checkbox>Danceability</mat-checkbox>
      <mat-checkbox>Instrumentalness</mat-checkbox>
      <mat-checkbox>Mood</mat-checkbox>
      <mat-checkbox>Energy</mat-checkbox>
    </div>
  </div>
  <div class="item item--center">
    <div class="col-3">
      <h4>Sort:</h4>
    </div>
    <div class="col-7">
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
  <div class="item item--center">
    <div class="col-3">
      <h4>Sound:</h4>
    </div>
    <div class="col-7">
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
</section>







